@media (min-width: 768px) {
    .container-small {
    width: 300px;
    }
    
    } 
    @media (min-width: 992px) {
    .container-small {
    width: 500px;
    } 
    } 
    @media (min-width: 1200px) {
    .container-small {
    width: 375px;
    }
    }
    
    .container-small {
    max-width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: solid;
    }